doctype html
block vars
  - var bodyclass = null;
html(lang='en')
  head
    block head

      title
        block title
          = locals.name

      meta(name='description', content='')
      // Meta
      meta(charset='UTF-8')
      | &#x9;
      meta(http-equiv='X-UA-Compatible', content='IE=edge')
      | &#x9;
      meta(name='viewport', content='width=device-width, initial-scale=1')
      // Favicon
      link(rel='icon', type='image/png', href='img/favicons/favicon-16x16.png', sizes='16x16')
      | &#x9;
      link(rel='icon', type='image/png', href='img/favicons/favicon-32x32.png', sizes='32x32')
      | &#x9;
      link(rel='icon', type='image/png', href='img/favicons/favicon-96x96.png', sizes='96x96')
      | &#x9;
      link(rel='apple-touch-icon', sizes='57x57', href='img/favicons/apple-touch-icon-57x57.png')
      | &#x9;
      link(rel='apple-touch-icon', sizes='60x60', href='img/favicons/apple-touch-icon-60x60.png')
      | &#x9;
      link(rel='apple-touch-icon', sizes='72x72', href='img/favicons/apple-touch-icon-72x72.png')
      | &#x9;
      link(rel='apple-touch-icon', sizes='76x76', href='img/favicons/apple-touch-icon-76x76.png')
      | &#x9;
      link(rel='apple-touch-icon', sizes='114x114', href='img/favicons/apple-touch-icon-114x114.png')
      | &#x9;
      link(rel='apple-touch-icon', sizes='120x120', href='img/favicons/apple-touch-icon-120x120.png')
      | &#x9;
      link(rel='apple-touch-icon', sizes='144x144', href='img/favicons/apple-touch-icon-144x144.png')
      | &#x9;
      link(rel='apple-touch-icon', sizes='152x152', href='img/favicons/apple-touch-icon-152x152.png')
      | &#x9;
      link(rel='apple-touch-icon', sizes='180x180', href='img/favicons/apple-touch-icon-180x180.png')
      // Include StyleSheets
      link(rel='stylesheet', href='css/style.min.css')
      // <link rel="stylesheet" href="css/custom.css">
      script(src='js/modernizr.js')


  body(class=bodyclass)
    header.header
      div.content-wrap
        block header
          div.logo
            h1
              a(href=locals.url)= locals.name
            p.description= locals.description
    div#content
      div.content-wrap
        block content
          h2 Welcome to zombocom!
    footer
      div.content-wrap
        block footer
          section.about
            !=contents['about.md'].html
          section.copy
            p &copy; #{ new Date().getFullYear() } #{ locals.owner } &mdash; powered by&nbsp;
              a(href='https://github.com/jnordberg/wintersmith') Wintersmith
              //- please leave the "powered by" if you use the design
