doctype html
block vars
  - var bodyclass = null;
html(lang='en')
  head
    block head
      title= locals.name
      meta(name='description', content='')
      meta(charset='UTF-8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge')
      meta(name='viewport', content='width=device-width, initial-scale=1')
      link(rel='alternate', href= '/feed.xml', type='application/rss+xml', title=locals.description)
      link(rel='icon', type='image/png', href='/img/favicons/favicon-16x16.png', sizes='16x16')
      link(rel='icon', type='image/png', href='/img/favicons/favicon-32x32.png', sizes='32x32')
      link(rel='icon', type='image/png', href='/img/favicons/favicon-96x96.png', sizes='96x96')
      link(rel='apple-touch-icon', sizes='57x57', href='/img/favicons/apple-touch-icon-57x57.png')
      link(rel='apple-touch-icon', sizes='60x60', href='/img/favicons/apple-touch-icon-60x60.png')
      link(rel='apple-touch-icon', sizes='72x72', href='/img/favicons/apple-touch-icon-72x72.png')
      link(rel='apple-touch-icon', sizes='76x76', href='/img/favicons/apple-touch-icon-76x76.png')
      link(rel='apple-touch-icon', sizes='114x114', href='/img/favicons/apple-touch-icon-114x114.png')
      link(rel='apple-touch-icon', sizes='120x120', href='/img/favicons/apple-touch-icon-120x120.png')
      link(rel='apple-touch-icon', sizes='144x144', href='/img/favicons/apple-touch-icon-144x144.png')
      link(rel='apple-touch-icon', sizes='152x152', href='/img/favicons/apple-touch-icon-152x152.png')
      link(rel='apple-touch-icon', sizes='180x180', href='/img/favicons/apple-touch-icon-180x180.png')
      link(rel='stylesheet', href='/css/custom.css')
      link(rel='stylesheet', href='/css/style.min.css')
      script(src='/js/modernizr.js')
  body(class=bodyclass)
    | <!--[if lt IE 8]>
    | <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    | <![endif]-->
    .header.header-over.large
      .container
        .row
          .col-md-3.col-sm-6.col-xs-6
            // Logo Image
            a.logo-image.logo-animated(href='/index.html')
              img(src='/img/logos/logo.png', alt='logo')
            // End of Logo Image
          .col-md-9.col-sm-6.col-xs-6
            // Menu
            nav.right.helper
              ul.menu.sf-menu.js-menu
                li
                  a(href='/docs/thrashing-code-news/') Thrashing Code News!!
                li
                  a(href='#') Conf, Meetup, Events.
                  ul
                    li
                      a(href='/docs/Speaking-Presentations-Workshops/') Speaking - Presentations, Workshops, Etc
                    li
                      a(href='/docs/calendar') Calendar
                li
                  a(href='/docs/documentation/') Docs.
                li
                  a(href='/docs/about/') About!
                li
                  a(href='/docs/job-talk/') Hire Me?
            // End of Menu
    .header-back.header-back-simple.header-back-small
      .header-back-container
        .container
          .row
            .col-md-12
              // Page Info
              .page-info.page-info-simple
                block header
                  block prepend title
                  h1= locals.name
                  h2.description= locals.description
              // End Page Info
    #content
      .container
        .layout.with-right-sidebar.js-layout
          .row
            .col-md-9
              .main-content
                // Blog Page
                block content
                // End of Blog Page
            .col-md-3.hidden-sm.hidden-xs
              .sidebar.js-sidebar-fixed
                // Vertical Menu
                .widget
                  // Search
                  .search
                    form(action="https://google.com/search", method="get")
                      input(type="hidden", name="sitesearch" value="http://blog.adron.me")
                      input.search-input.form-control(type="text", name="q", placeholder="search")
                      i.fa.fa-search.search-icon
                  // End of Search
                .widget
                  h3.widget-title Keyword Search
                  // Tags
                  ul.tags
                    li.tag-item
                      a(href='https://www.google.com/search?sitesearch=http%3A%2F%2Fblog.adron.me&q=html') html
                    li.tag-item
                      a(href='https://www.google.com/search?sitesearch=http%3A%2F%2Fblog.adron.me&q=javascript') javascript
                    li.tag-item
                      a(href='https://www.google.com/search?sitesearch=http%3A%2F%2Fblog.adron.me&q=ubuntu') ubuntu
                    li.tag-item
                      a(href='https://www.google.com/search?sitesearch=http%3A%2F%2Fblog.adron.me&q=node pdx') node pdx
                    li.tag-item
                      a(href='https://www.google.com/search?sitesearch=http%3A%2F%2Fblog.adron.me&q=.NET fringe') .net fringe
                    li.tag-item
                      a(href='https://www.google.com/search?sitesearch=http%3A%2F%2Fblog.adron.me&q=videos') videos
                  // End of Tags
                nav.menu-vertical-wrapper
                  ul.menu-vertical.js-menu-vertical(data-prepend-to='.js-layout', data-select='Menu')
                    li
                      a(href='#') About
                      ul
                        li
                          a(href='/docs/about/') Me, Adron
                        li
                          a(href='#') My Hobbies
                          ul
                            li
                              a(href='http://photos.adron.me') My Photos
                        li
                          a(href='/docs/Speaking-Presentations-Workshops') My Presentations
                        li
                          a(href='/docs/documentation/') Collection of Docs & Notes
                .widget
                  h3.widget-title Photos
                  // Photos
                  ul.widget-recommended-products
                    // Photos
                    li.widget-recommended-product
                      img.widget-recommended-product-img(src='/img/photos/IMG_1836.jpg', alt='Jon Oropeza')
                      a.widget-recommended-product-link(href='http://photos.adron.me/Software/Meetups-N-Conferences/Conferences/Node-PDX-2016/i-D9qFQ6m')
                        h5.widget-recommended-product-link-title
                          | Node PDX 2016
                          i.fa.fa-angle-right
                        p.widget-recommended-product-link-description Jon Oropeza @ Node PDX 2016
                    // End of Recommended product Item
                    // Recommended product Item
                    li.widget-recommended-product
                      img.widget-recommended-product-img(src='/img/photos/IMG_1812.jpg', alt='Liz Abinante')
                      a.widget-recommended-product-link(href='http://photos.adron.me/Software/Meetups-N-Conferences/Conferences/Node-PDX-2016/i-g2m2hgP')
                        h5.widget-recommended-product-link-title
                          | Node PDX 2016
                          i.fa.fa-angle-right
                        p.widget-recommended-product-link-description Liz Abinante @ Node PDX 2016
                    // End of Recommended product Item
                    // Recommended product Item
                    li.widget-recommended-product
                      img.widget-recommended-product-img(src='/img/photos/IMG_5709.jpg', alt='Praha hlavní nádraží')
                      a.widget-recommended-product-link(href='http://photos.adron.me/Travels-N-Traversings/Across-the-Pond-2016-Travels/September-Krakow/Week-4-Prague/i-62ZPsPb')
                        h5.widget-recommended-product-link-title
                          | Prague (Praha)
                          i.fa.fa-angle-right
                        p.widget-recommended-product-link-description Praha hlavní nádraží
                    // End of photos row one
                  ul.widget-recommended-products
                    // Photos
                    li.widget-recommended-product
                      img.widget-recommended-product-img(src='/img/photos/IMG_4417.jpg', alt="St Mary's Basilica")
                      a.widget-recommended-product-link(href='http://photos.adron.me/Travels-N-Traversings/Across-the-Pond-2016-Travels/September-Krakow/Krakow/i-KnZf6pK/A')
                        h5.widget-recommended-product-link-title
                          | St Mary's Basilica
                          i.fa.fa-angle-right
                        p.widget-recommended-product-link-description Bazylika Mariacka in Rynek Główny.
                    // End of Recommended product Item
                    // Recommended product Item
                    li.widget-recommended-product
                      img.widget-recommended-product-img(src='/img/photos/VSC_03.png', alt='Visual Studio Code')
                      a.widget-recommended-product-link(href='http://photos.adron.me/Software/Software-Development/Visual-Studio-Things/i-LLW7WcD/A')
                        h5.widget-recommended-product-link-title
                          | Visual Studio Code
                          i.fa.fa-angle-right
                        p.widget-recommended-product-link-description Images from a review of Visual Studio Code.
                    // End of Recommended product Item
                    // Recommended product Item
                    li.widget-recommended-product
                      img.widget-recommended-product-img(src='/img/photos/-home-adronhall-Pictures-Selection_002.png - Shutter_003.png', alt='')
                      a.widget-recommended-product-link(href='http://photos.adron.me/Software/Software-Development/Ubuntu/i-CQsQ4zj/A')
                        h5.widget-recommended-product-link-title
                          | Mono Develop & WebStorm
                          i.fa.fa-angle-right
                        p.widget-recommended-product-link-description Working through Mono Develop & WebStorm.
                      // End of photos row two
                  // End Photos
        block prepend footer
    script(src='/js/all.js')
    script(src='/js/custom.js')
    // Google Tag Manager
    noscript
      iframe(src='//www.googletagmanager.com/ns.html?id=GTM-KMMZX2', height='0', width='0', style='display:none;visibility:hidden')
    script.
      console.log(document.getElementById("search-google"));
      console.log(document.getElementById("search-google").innerText);

      var searchBox = document.getElementById("search-google");

      function googleSearch(search_string) {
        alert(search_string);
      }

      document.getElementById("search-google").addEventListener("onClick", function () {
        alert(document.getElementById("search-google").innerHTML);
      });

      document.getElementById("search-google").addEventListener("onClick", function () {
        googleSearch(document.getElementById("search-google").innerHTML)
      });

    script.
      (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
                  (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
      })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
      ga('create', 'UA-39158070-6', 'auto');
      ga('send', 'pageview');
