doctype html
block vars
  - var bodyclass = null;
html(lang='en')
  head
    block head

      title
        block title
          = locals.name

      meta(name='description', content='')
      // Meta
      meta(charset='UTF-8')
      | &#x9;
      meta(http-equiv='X-UA-Compatible', content='IE=edge')
      | &#x9;
      meta(name='viewport', content='width=device-width, initial-scale=1')
      // Favicon
      link(rel='icon', type='image/png', href='img/favicons/favicon-16x16.png', sizes='16x16')
      | &#x9;
      link(rel='icon', type='image/png', href='img/favicons/favicon-32x32.png', sizes='32x32')
      | &#x9;
      link(rel='icon', type='image/png', href='img/favicons/favicon-96x96.png', sizes='96x96')
      | &#x9;
      link(rel='apple-touch-icon', sizes='57x57', href='img/favicons/apple-touch-icon-57x57.png')
      | &#x9;
      link(rel='apple-touch-icon', sizes='60x60', href='img/favicons/apple-touch-icon-60x60.png')
      | &#x9;
      link(rel='apple-touch-icon', sizes='72x72', href='img/favicons/apple-touch-icon-72x72.png')
      | &#x9;
      link(rel='apple-touch-icon', sizes='76x76', href='img/favicons/apple-touch-icon-76x76.png')
      | &#x9;
      link(rel='apple-touch-icon', sizes='114x114', href='img/favicons/apple-touch-icon-114x114.png')
      | &#x9;
      link(rel='apple-touch-icon', sizes='120x120', href='img/favicons/apple-touch-icon-120x120.png')
      | &#x9;
      link(rel='apple-touch-icon', sizes='144x144', href='img/favicons/apple-touch-icon-144x144.png')
      | &#x9;
      link(rel='apple-touch-icon', sizes='152x152', href='img/favicons/apple-touch-icon-152x152.png')
      | &#x9;
      link(rel='apple-touch-icon', sizes='180x180', href='img/favicons/apple-touch-icon-180x180.png')
      // Include StyleSheets
      link(rel='stylesheet', href='css/style.min.css')
      // <link rel="stylesheet" href="css/custom.css">
      script(src='js/modernizr.js')

  body(class=bodyclass)
    // Header
    .header.header-over.large
      .container
        .row
          .col-md-3.col-sm-6.col-xs-6
            // Logo Image
            a.logo-image.logo-animated(href=locals.url)
              img(src='img/logos/logo.png', alt='logo')
            p.description= locals.description
            // End of Logo Image
          .col-md-9.col-sm-6.col-xs-6
            // Menu
            nav.right.helper
              ul.menu.sf-menu.js-menu
                li
                  a(href=locals.url)= locals.name
                li
                  a(href='#') Pages
                  ul
                    li
                      a(href='panels.html') Panels
                    li
                      a(href='#') Blog
                      ul
                        li
                          a(href='blog-grid.html') Blog Grid
                        li
                          a(href='article.html') Article
                    li
                      a(href='faq.html') Faq
                    li
                      a(href='notification.html') Notification
                    li
                      a(href='tutorial.html') Tutorial
                    li
                      a(href='login.html') Login
                    li
                      a(href='register.html') Register
                li
                  a(href='#') Elements
                  ul
                    li
                      a(href='buttons.html') Buttons
                    li
                      a(href='boxes.html') Boxes
                    li
                      a(href='code.html') Code
                    li
                      a(href='notes.html') Notes
                    li
                      a(href='files.html') File tree
                    li
                      a(href='media.html') Media
                    li
                      a(href='book.html') Book
                    li
                      a(href='steps.html') Steps & Tabs
                    li
                      a(href='misc.html') Misc
                li
                  a(href='#')
                    | Layouts
                    span.menu-label v1.2
                  ul
                    li
                      a(href='views.html') Views without sidebar
                    li
                      a(href='views-left.html') Views left sidebar
                    li
                      a(href='views-right.html') Views right sidebar
                    li
                      a(href='#') Full left sidebar
                      ul
                        li
                          a(href='views-left-full.html') Regular
                        li
                          a(href='views-left-full-compact.html') Compact
                    li
                      a(href='#') Full right sidebar
                      ul
                        li
                          a(href='views-right-full.html') Regular
                        li
                          a(href='views-right-full-compact.html') Compact
                li
                  a(href='changelog.html') Changelog
                li
                  a(href='contacts.html') Contacts
            // End of Menu
    // End of Header

    div#content
      div.content-wrap
        block content
          h2 Welcome to zombocom!
    footer
      div.content-wrap
        block footer
          section.about
            !=contents['about.md'].html
          section.copy
            p &copy; #{ new Date().getFullYear() } #{ locals.owner } &mdash; powered by&nbsp;
              a(href='https://github.com/jnordberg/wintersmith') Wintersmith
              //- please leave the "powered by" if you use the design
