doctype html
block vars
  - var bodyclass = null;
html(lang='en')
  head
    block head
      title= locals.name
      meta(name='description', content='')
      meta(charset='UTF-8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge')
      meta(name='viewport', content='width=device-width, initial-scale=1')
      link(rel='alternate', href= locals.url + '/feed.xml', type='application/rss+xml', title=locals.description)
      link(rel='icon', type='image/png', href=locals.url + '/img/favicons/favicon-16x16.png', sizes='16x16')
      link(rel='icon', type='image/png', href=locals.url + '/img/favicons/favicon-32x32.png', sizes='32x32')
      link(rel='icon', type='image/png', href=locals.url + '/img/favicons/favicon-96x96.png', sizes='96x96')
      link(rel='apple-touch-icon', sizes='57x57', href=locals.url + '/img/favicons/apple-touch-icon-57x57.png')
      link(rel='apple-touch-icon', sizes='60x60', href=locals.url + '/img/favicons/apple-touch-icon-60x60.png')
      link(rel='apple-touch-icon', sizes='72x72', href=locals.url + '/img/favicons/apple-touch-icon-72x72.png')
      link(rel='apple-touch-icon', sizes='76x76', href=locals.url + '/img/favicons/apple-touch-icon-76x76.png')
      link(rel='apple-touch-icon', sizes='114x114', href=locals.url + '/img/favicons/apple-touch-icon-114x114.png')
      link(rel='apple-touch-icon', sizes='120x120', href=locals.url + '/img/favicons/apple-touch-icon-120x120.png')
      link(rel='apple-touch-icon', sizes='144x144', href=locals.url + '/img/favicons/apple-touch-icon-144x144.png')
      link(rel='apple-touch-icon', sizes='152x152', href=locals.url + '/img/favicons/apple-touch-icon-152x152.png')
      link(rel='apple-touch-icon', sizes='180x180', href=locals.url + '/img/favicons/apple-touch-icon-180x180.png')
      link(rel='stylesheet', href=locals.url + '/css/custom.css')
      link(rel='stylesheet', href=locals.url + '/css/style.min.css')
      script(src=locals.url + '/js/modernizr.js')
  body(class=bodyclass)
    | <!--[if lt IE 8]>
    | <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    | <![endif]-->
    .header.header-over.large
      .container
        .row
          .col-md-3.col-sm-6.col-xs-6
            // Logo Image
            a.logo-image.logo-animated(href=locals.url + '/index.html')
              img(src=locals.url + '/img/logos/logo.png', alt='logo')
            // End of Logo Image
          .col-md-9.col-sm-6.col-xs-6
            // Menu
            nav.right.helper
              ul.menu.sf-menu.js-menu
                li
                  a(href='http://compositecode.us11.list-manage1.com/subscribe?u=7f73ff0427183b9b64e1f336a&id=a6fc3efde0') Thrashing Code News
                li
                  a(href='#') Documentation Work
                  ul
                    li
                      a(href=locals.url + '/404.html') More...
                    li
                      a(href=locals.url + '/404.html') coming...
                    li
                      a(href=locals.url + '/404.html') real soon...
                li
                  a(href=locals.url + '/contact.html') Contact
                li
                  a(href=locals.url + '/404.html') About
            // End of Menu
    .header-back.header-back-simple.header-back-small
      .header-back-container
        .container
          .row
            .col-md-12
              // Page Info
              .page-info.page-info-simple
                block header
                  block prepend title
                  h1= locals.name
                  h2.description= locals.description
              // End Page Info
    #content
      .container
        .layout.with-right-sidebar.js-layout
          .row
            .col-md-9
              .main-content
                // Blog Page
                block content
                // End of Blog Page
            .col-md-3.hidden-sm.hidden-xs
              .sidebar.js-sidebar-fixed
                // Vertical Menu
                nav.menu-vertical-wrapper
                  ul.menu-vertical.js-menu-vertical(data-prepend-to='.js-layout', data-select='Menu')
                    li
                      a(href='#') About
                      ul
                        li
                          a(href=locals.url + '/404.html') Instalation
        block prepend footer
    script(src=locals.url + '/js/all.js')
    script(src=locals.url + '/js/custom.js')
    // Google Tag Manager
    noscript
      iframe(src='//www.googletagmanager.com/ns.html?id=GTM-KMMZX2', height='0', width='0', style='display:none;visibility:hidden')
    script.
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({
          'gtm.start': new Date().getTime(), event: 'gtm.js'
        });
        var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src =
                '//www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, 'script', 'dataLayer', 'GTM-KMMZX2');
    // End Google Tag Manager
